{% extends 'base.html' %}
{% block title %}Login{% endblock %}
<!-- templates/registration/login.html -->
{% block content %}
<section class="hero is-medium has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <nav class="panel is-success">
          <p class="panel-heading">Iniciar sesión</p>
          <div class="panel-block">
            <div class="content column is-full">
              <form method="post">
                {% csrf_token %}
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="username" placeholder="Correo electrónico">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Contraseña" id="id_password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button type="submit" class="button is-success is-pulled-right">Acceder</button><br>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}
