{% extends 'base.html' %}
<!-- templates/registration/signup.html -->

{% block title %}Registrarse{% endblock %}

{% block content %}

<section class="hero is-medium has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <nav class="panel">
          <p class="panel-heading">Registrarse</p>
          <div class="panel-block">
            <div class="content column is-full">
              <form method="post">
                {% csrf_token %}
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="username" placeholder="Correo electrónico" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" name="password1" placeholder="Contraseña" id="id_password1" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button type="submit" class="button is-light is-pulled-right">Crear cuenta</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}
