{% extends 'base.html' %}
{% block content %}
<title>Acerca de</title>
<section class="hero is-medium is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Acerca de la guía
      </h1>
      <h2 class="subtitle has-text-justify">
        Cónoce más acerca de la propuesta y su contribución
      </h2>
    </div>
  </div>
</section>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1 class="title is-3">
          Antecedentes
        </h1>
        <hr>
        <p class="has-text-justified">
          Actualmente, la educación respecto al desarrollo de negocios y lanzamiento de productos innovadores se está volviendo tan relevante que gran cantidad de universidades alrededor del mundo han reconocido la importancia de enseñar habilidades
          de
          emprendimiento a estudiantes de Ingeniería <a href="https://ieeexplore.ieee.org/document/7344206" target="_blank">(Porter,2015)</a>. Específicamente en el área de Ingeniería de Software, hoy en día, se requiere que los estudiantes no solo
          tengan la capacidad de resolver problemas técnicos con éxito, también es
          necesario que puedan resolver problemas relacionados con la gestión, comunicación, comprensión de las necesidades de los clientes, trabajo en equipo, y entregar valor real a los usuarios.
        </p><br>
        <p class="has-text-justified">
          Como respuesta a esta necesidad, varios cursos se han enfocado en enseñar emprendimiento a estudiantes de ingeniería de software y áreas afines mediante metodologías emergentes como Lean Startup y Customer Development <a
            href="https://dl.acm.org/doi/10.1145/3287324.3287382" target="_blank">(Melegati, 2019)</a>, y otros más se han enfocado en
          la importancia de enseñar conceptos de negocios <a href="https://www.sciencedirect.com/science/article/abs/pii/S0040162515000281?via%3Dihub" target="_blank">(Harms, 2015)</a>. En este contexto, <strong>Lean Startup</strong> se ha convertido
          en un enfoque para el emprendimiento e innovación.</p><br>

        <p class="has-text-justified">Como resultado, es un referente en el ámbito académico impartiendose en más de 25 universidades alrededor del mundo <a href="http://leanstartup.pbworks.com/w/page/51233037/InnovationCourses" target="_blank">(The
            Lean Startup Circle Wiki)</a>. Así mismo, en programas de capacitación donde se busca impulsar la creación de nuevos productos y servicios a partir de una idea de negocio <a href="https://dl.acm.org/doi/10.1145/3287324.3287382"
            target="_blank">(Chanin, 2018)</a>. 
        </p><br>
        <h1 class="title is-3">
          Planteamiento del problema
        </h1>
        <hr>
        <p class="has-text-justified">
          Uno de los mayores problemas al enseñar desarrollo de software y emprendimiento en un entorno académico es la dificultad para simular un ambiente donde los estudiantes aprendan a desarrollar productos de software de una manera muy similar a
          como sucede en el mundo real.  Lograr que los estudiantes experimenten situaciones que suceden con demandas de clientes reales sigue siendo un desafío <a href="https://dl.acm.org/doi/10.1145/3194779.3194781" target="_blank">(Buffardi,
            2017)</a>. 
        </p><br>
        <p class="has-text-justified">
          La educación acerca de emprendimiento a menudo se da en formato de cursos o talleres utilizando métodos de aprendizaje tradicionales como lecturas, trabajo interactivo en equipo y actividades en grupo. También se han incluido
          aspectos como la participación de fundadores de startups colaborando como oradores o mentores dentro de las clases <a href="https://www.sciencedirect.com/science/article/abs/pii/S1875952114000214?via%3Dihub" target="_blank">(Bellotti,
            2014)</a>. 
        </p><br>
        <p class="has-text-justified">
          A pesar de la eficacia de los métodos de enseñanza tradicionales, las actividades orientadas directamente a explorar el mercado tienen ciertas limitaciones; su implementación en el entorno académico es difícil de relacionar con eventos del
          mundo real, y es altamente arriesgado cuando se trata de estudiantes que están aprendiendo a fundar una startup <a href="https://www.sciencedirect.com/science/article/abs/pii/S1875952114000214?via%3Dihub" target="_blank">(Bellotti,
            2014)</a>.  En este contexto, se requiere un enfoque innovador que  combine los beneficios de la enseñanza y aprendizaje tradicional con
          un ambiente de inmersión especialmente adecuado para la enseñanza de emprendimiento.
        </p><br>
        <h1 class="title is-3">
          ¿Por qué la guía?
        </h1>
        <hr>
        <p class="has-text-justified">
          Un enfoque interesante para enseñar es el uso de juegos serios. Diversos estudios muestran que estos juegos pueden conducir a un aprendizaje efectivo, reforzando el contenido que se presenta durante la enseñanza de un tema en particular <a
            href="https://www.sciencedirect.com/science/article/abs/pii/S0360131517300040?via%3Dihub" target="_blank">(Petri, 2017)</a>, <a
            href="https://www.researchgate.net/publication/312530807_Software_Engineering_Education_and_Games_A_Systematic_Literature_Review" target="_blank">(Kosa, 2016)</a>. 
        </p><br>

        <p class="has-text-justified">

          La propuesta permite que los estudiantes puedan aprender en un entorno realista al utilizar un juego serio que ayuda a simular situaciones del mundo real.

          A través de la guía se proporcionan un conjunto de recursos <strong>para contribuir a que los practicantes o maestros mejoren el resultado de aprendizaje</strong> siguiendo un proceso sistemático y utilizando 
          dinámicas enfocadas en el reforzamiento de los conceptos principales de la metodología Lean Startup.

        </p><br>
        <h1 class="title is-3">
          Visión General
        </h1>
        <hr>
        <p class="has-text-justified">
          Esta propuesta se puede utilizar para enseñar emprendimiento mientras se simulan actividades que se realizan al fundar una startup de software debido a que ayuda a relacionar los conceptos de la metodología Lean Startup
          con situaciones de la vida real. La guía está orientada como apoyo para dos perfiles principales: Maestros del área de Ciencias de la Computación y Practicantes de Lean Startup. Las pautas que se proponen están basadas en un proceso
          sistemático en combinación con el uso de un juego serio. Además, <strong>se desarrollaron una serie de <a href="{% url 'cartas-de-experimentos' %}" target="_blank">cartas de experimentos</a> adicionales para mejorar el resultado de
            aprendizaje</strong> de los conceptos y lecciones que se abordan
          durante la ejecución del juego en los talleres de enseñanza de Lean Startup.
        </p><br>
        <h1 class="title is-3">
          Breve introducción
        </h1>
        <hr>
        <article class="message is-primary is-light">
          <div class="message-body">
            <p class="has-text-justified"><span class="icon has-text-dark">
                <i class="fas fa-info-circle"></i>
              </span>Para familiarizarse con el uso de la guía puede comenzar revisando el siguiente vídeo:</p>
          </div>
        </article>
        <iframe width="730" height="482" src="https://www.youtube.com/embed/qjEQ_CLf0lY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
        {% if user.is_authenticated %}
        <a href="{% url 'ruta' %}" class="button is-light">
          <strong>Empezar</strong>
        </a>

        {% else %}

        <a href="{% url 'home' %}" class="button is-primary">
          <strong>Empezar</strong>
        </a>

        {% endif %}
      </div>
    </div>
  </div>
</section>


{% endblock content %}
