{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a></li>
              <li class="is-active"><a href="#" aria-current="page">Acerca de las cartas de experimentos</a></li>
            </ul>
          </nav>
        </div>



        <h1 class="title is-3">
          Introducción
        </h1>
        <p class="has-text-justified">
          Dado que la experimentación es un principio clave de la metodología Lean Startup, las cartas de experimentos son un elemento fundamental dentro del juego serio Playing Lean.
          Cada carta de experimento contiene una historia que permite relacionar el concepto con una experiencia de la vida real de una startup, esto permite la transferencia de conocimiento logrando que para el jugador
          sea más fácil recordar el significado del concepto que se esta enseñando.
        </p><br>

        <p class="has-text-justified">
          Particularmente, en un contexto de juegos serios la narración de historias juega un papel importante, las historias ayudan a conectar conceptos con elementos de aprendizaje
          en una correlación significativa, haciéndolos contables y comprensibles.
          <a href="https://www.researchgate.net/publication/308901999_Storytelling_in_Serious_Games" target="_blank">(Kampa,2016)</a>.
        </p><br>

        <h1 class="title is-3">
          ¿Por qué las cartas de experimentos?
        </h1>
        <p class="has-text-justified">
          Con el fin de obtener el estado de la practica acerca de enseñanza de Lean Startup utilizando el juego serio Playing Lean, se realizaron 4 talleres en diferentes estados del país, 
          los talleres fueron desplegados con el apoyo de un instructor experto en Lean Startup.
        </p><br>
        <p class="has-text-justified">
          De acuerdo con los resultados, las cartas de experimentos es el elemento del juego que más ayuda a entender la metodología Lean Startup.
          Los hallazgos indican que las cartas tienen un efecto positivo en el aprendizaje de los jugadores.
        </p><br>
        <p>La siguiente imagen muestra las respuestas de los participantes con una puntuación de 27 de 34:</p><br>
        <figure class="image">
          <a href="https://charts.mongodb.com/charts-m001-kckhx/public/dashboards/46dc594c-3154-4f6b-b561-19fe58364ed7" target="_blank"><img src="{% static 'img/cartas-mongo.png' %}"> </a>
          <figcaption>
            <p class="has-text-centered">Elementos del juego que enseñan la metodología Lean Startup</p>
          </figcaption>
        </figure>
        <br>
        <p class="has-text-justified">
          Sin embargo, el estado del arte indica que uno de los mayores problemas al enseñar desarrollo de software y emprendimiento en un entorno académico es la dificultad para simular un ambiente donde los estudiantes aprendan a desarrollar
          productos de software de una manera muy similar a como sucede en el mundo real.
          Lograr que los estudiantes experimenten situaciones que suceden con demandas de clientes reales sigue siendo un desafío <a href="https://dl.acm.org/doi/10.5555/3055338.3055355" target="
          ">(Buffardi et al., 2017)</a>.
        </p><br>

        <p class="has-text-justified">
          Por lo tanto, para simular un ambiente con demandas de clientes reales, se desarrollaron cartas de experimentos basadas en la historia de éxito de la startup <a href="https://airbnb.com" target="_blank">Airbnb</a>. Las nuevas cartas ayudan
          a relacionar los conceptos con experiencias de la vida real a través de ejemplos concretos. Está contribución permite mejorar
          el resultado de aprendizaje de los jugadores simulando situaciones de la vida real y refuerza la comprensión de la metodología Lean Startup por medio de estos elementos clave del juego.
        </p><br>
        <div class="notification is-warning">
          <p><strong>Nota</strong>: Todas las historias que se relatan a través de las cartas de experimentos están basadas en el libro <a href="https://www.goodreads.com/book/show/32198220-the-airbnb-story" target="_blank"> The Airbnb Story </a> de Leigh Gallagher.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <hr>
</div>

{% endblock content %}
