{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-four-fifths">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a></li>
              <li class="is-active"><a href="#" aria-current="page">Cartas de experimentos por concepto</a></li>
            </ul>
          </nav>
        </div>
        <h1 class="title is-3">
          Clasificación por etapa
        </h1>
        <hr>
        <p class="has-text-justified">
          El juego tiene cuatro etapas, representadas por colores en los tableros y en las cartas de experimentos.
          Los jugadores deben progresar a través de todas las etapas para ganar el juego.
        </p><br>
        <p class="has-text-justified">
          Las etapas corresponden a los cuatro pasos para tener éxito con un producto o servicio.
          La primera etapa en color verde es el <strong>Modelado de Negocios</strong>, donde se itera rápidamente sobre el modelo de negocio.
        </p><br>
        <p class="has-text-justified">
          Luego viene el <strong>Ajuste Problema-Solución</strong> en color amarillo. Esta es la fase en la que se valida que realmente existe un problema que vale la pena resolver.
          Después, los jugadores pasan al <strong>Ajuste Producto-Mercado</strong> en color naranja. En esta etapa se valida que se ha construido
          algo que la gente quiere. A continuación está la etapa final que es <strong>Escalabilidad</strong>, donde la pregunta más importante es: ¿Cómo acelerar el crecimiento?
        </p><br>
        <p class="has-text-justified">
          Cómo propósito de diseño, el juego cubre conceptos clave de Lean Startup que se transmiten a través de la experiencia de juego. Revise o descargue cada una de las cartas de experimentos organizadas por etapa y su concepto correspondiente.
        </p><br>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="columns is-centered">
    <div class="column is-four-fifths">

      <div id="tabs-with-content">
        <div class="tabs is-centered is-boxed">
          <ul>
            <li>
              <a>
                <span class="icon is-small has-text-success"><i class="fas fa-clipboard" aria-hidden="true"></i></span>
                <span>Modelado de Negocios</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small has-text-warning"><i class="fas fa-clipboard" aria-hidden="true"></i></span>
                <span>Ajuste Problema-Solución</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fas fa-clipboard" style="color:#ffa500;" aria-hidden="true"></i></span>
                <span>Ajuste Mercado-Producto</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fas fa-clipboard" style="color:#ffa500;" aria-hidden="true"></i></span>
                <span>Escalabilidad</span>
              </a>
            </li>
          </ul>
        </div>
        <div>


          <section class="tab-content">
            <div class="columns">
              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Perfil de Cliente</strong> - Customer Profile
                        </p>
                        <p class="has-text-justified">El perfil de cliente es uno de los elementos de la propuesta de valor canvas, describe un segmento especifico de cliente dentro del modelo de negocios
                          de una forma más estrucurada y detallada. Se descompone en tareas, dolores y beneficios <a href="https://issuu.com/business.model.innovation/docs/vpd_sneakpeek/33" target="_blank">(Osterwalder,2014)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1tdQsdB7XiCUHHaLhCau9bu0vzDupc7st/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>


              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Propuesta de Valor</strong> - Value Proposition
                        </p>
                        <p class="has-text-justified">La propuesta de valor describe los beneficios que los clientes pueden obtener de un producto o servicio. La Propuesta de Valor Canvas es una
                          herramienta que ayuda a crear valor para los clientes <a href="https://issuu.com/business.model.innovation/docs/vpd_sneakpeek/33" target="_blank">(Osterwalder,2014)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1ymk3EopIyAhsICM5ACbwlnVORX4nt3ip/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              </div>


              <div class="columns">
              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Producto Mínimo Viable</strong> - MVP
                        </p>
                        <p class="has-text-justified">Se refiere a una manera de probar las hipótesis que se tienen y comenzar con el proceso de aprendizaje tan pronto como sea posible.
                          Esta suele ser la primer versión de un producto que se utiliza (y se vende) a los clientes <a href="https://www.academia.edu/30311803/El_Método_Lean_Startup_Eric_Ries" target="_blank">(Ries,2011)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1iBa3vrzMw9rAVn8jv0h0x2wdshql8pYV/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>



              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Ciclo Crear-Medir-Aprender</strong> - Build-Measure-Learn
                        </p>
                        <p class="has-text-justified">La actividad fundamental de una startup es convertir ideas en productos, medir cómo responden los clientes y aprender cuando pivotar o perseverar.
                          Todos los procesos de creación de startups exitosas deben estar orientados a acelerar este ciclo de retroalimentación <a href="https://www.academia.edu/30311803/El_Método_Lean_Startup_Eric_Ries"
                            target="_blank">(Ries,2011)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1UagxHFgyHPSS3ajvVsiS58LFqzH8TE4a/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>


            </div>
          </section>

          <!-- Cierra sección business modelling -->

          <section class="tab-content">
            <div class="columns">

              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Pivotar</strong> - Pivot
                        </p>
                        <p class="has-text-justified">Un cambio de estrategia es un pivote. A menudo se requiere un cambio de estrategia para descubrir todo el potencial de la visión durante el transcurso.
                          Pero para que un pivote sea efectivo, tiene que estar basado en el aprendizaje acerca de los clientes <a href="https://www.academia.edu/30311803/El_Método_Lean_Startup_Eric_Ries" target="_blank">(Ries,2011)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1CejnYhwfl2xpw_67dtQu6SFE1C1WRZ8s/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a href="https://drive.google.com/file/d/1p3TTeBEVUJ_-ancjDg1hDQB6eXbEPH-9/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a href="https://drive.google.com/file/d/14T5bp2oHHMvyrqXlfpxtMe1-uedLEu8a/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a href="https://drive.google.com/file/d/1lrG5iioNj1QygYoMZasIVHoLSETfEOnT/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>



              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Perfil de Cliente</strong> - Customer Profile
                        </p>
                        <p class="has-text-justified">El perfil de cliente es uno de los elementos de la propuesta de valor canvas, describe un segmento especifico de cliente dentro del modelo de negocios
                          de una forma más estrucurada y detallada. Se descompone en tareas, dolores y beneficios <a href="https://issuu.com/business.model.innovation/docs/vpd_sneakpeek/33" target="_blank">(Osterwalder,2014)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1tdQsdB7XiCUHHaLhCau9bu0vzDupc7st/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
            </div>


            <div class="columns">
              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Propuesta de Valor</strong> - Value Proposition
                        </p>
                        <p class="has-text-justified">La propuesta de valor describe los beneficios que los clientes pueden obtener de un producto o servicio. La Propuesta de Valor Canvas es una
                          herramienta que ayuda a crear valor para los clientes <a href="https://issuu.com/business.model.innovation/docs/vpd_sneakpeek/33" target="_blank">(Osterwalder,2014)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1ymk3EopIyAhsICM5ACbwlnVORX4nt3ip/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>


              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Ajuste Problema-Solución</strong> - Problem-Solution Fit
                        </p>
                        <p class="has-text-justified">Es una de las etapas por la que atraviesa una startup. Consiste en determinar si tenemos un problema que merezca la pena
                          solucionar antes de invertir meses o años de esfuerzos en el desarrollo de una solución <a href="https://core.ac.uk/download/pdf/224730660.pdf" target="_blank">(Maurya,2012)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1puT5Q79rcMok3OOQeORrTv2hc4oeuRLN/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Cierra etapa problem solution-fit -->
          </section>



          <section class="tab-content">
            <div class="columns">

              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Ajuste Mercado-Producto</strong> - Product-Market Fit
                        </p>
                        <p class="has-text-justified">Es una etapa por la que atraviesa una startup. Una vez detectado un problema que merezca la pena solucionar y tras haber construido un MVP,
                          es necesario probar la eficacia de la solución a la hora de resolver el problema. En otras palabras, se debe medir si se ha creado algo que la gente quiere <a href="https://core.ac.uk/download/pdf/224730660.pdf"
                            target="_blank">(Maurya,2012)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1baGJRA6bAKiN68YwtyhGBQOiuxwaMjSN/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a href="https://drive.google.com/file/d/1T653OZo_UNNnIQpWImwQKxfmLhqIyBIg/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>



              <div class="column is-6">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Contabilidad de la Innovación</strong> - Innovation Accounting
                        </p>
                        <p class="has-text-justified">La contabilidad de la innovación se refiere a medir el progreso de una startup basado en el aprendizaje validado,
                          se debe realizar un seguimiento de los experimentos, resultados y descubrimentos para ser contable y transparente <a href="https://www.academia.edu/30311803/El_Método_Lean_Startup_Eric_Ries" target="_blank">(Ries,2011)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/19XeNZ6OE4X8o-RXzxSjZTusvy4GJ4WFO/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Cierra etapa product market-fit -->
          </section>
          <section class="tab-content">


            <div class="columns">

              <div class="column">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Escalabilidad</strong> - Scale
                        </p>
                        <p class="has-text-justified">El ajuste producto-mercado garantiza en la mayoría de casos algún nivel de éxito. Sin
                          embargo, en esta última etapa es necesario centrar la atención en el crecimiento, es decir, en el intento de
                          escalar el modelo de negocio <a href="https://core.ac.uk/download/pdf/224730660.pdf" target="_blank">(Maurya,2012)</a>.
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a href="https://drive.google.com/file/d/1cE9Agcbvu044T1cpeNamdA5kUi5c5nN7/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a href="https://drive.google.com/file/d/1wXUX7tZe2ieujw11Pok2LF6MHmhjOPUi/view" target="_blank" class="level-item" aria-label="download">
                            <span class="icon is-small">
                              <i class="fas fa-download" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Cierra etapa Escalabilidad -->
          </section>




        </div>
      </div>





    </div>
  </div>
</section>


{% endblock content %}
