{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal-fx.css' %}">
  <link rel="stylesheet" href="{% static 'css/bulma-tooltip.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <!--Barra de menú-->
  <nav class="navbar has-shadow is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#"> Guía Lean Startup
          <img src="">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'acerca' %}" class="navbar-item is-hoverable">Acerca de</a>
          {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Guía</a>
            <div class="navbar-dropdown">
              <a href="{% url 'ruta' %}" class="navbar-item">Ruta</a>
              <a href="{% url 'buenas-practicas' %}" class="navbar-item">Buenas prácticas</a>
              <a href="{% url 'recomendaciones' %}" class="navbar-item">Recomendaciones</a>
              <hr class="navbar-divider">
              <a href="{% url 'juego-serio' %}" class="navbar-item">Juego serio</a>
              <a href="{% url 'cartas-de-experimentos' %}" class="navbar-item">Cartas de experimentos</a>
            </div>
          </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScq1WiEB4bcR_HKovBgIdNCgCmGjJ2XNr_FQmoUaB-n68Md6w/viewform" target="_blank" class="navbar-item is-hoverable">Evaluar la guía</a>
        </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="#" class="navbar-item is-hoverable">{{ user.username }}</a>
              <a href="#" class="navbar-item is-hoverable">|</a>
              <a href="{% url 'logout' %}" class="navbar-item is-hoverable"><span><i class="fas fa-sign-out-alt"></i></span></a>
            </div>
        {% else %}
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{% url 'login' %}" class="button is-light">
                  Iniciar sesión
                </a>
                <a href="{% url 'signup' %}" class="button is-primary">
                  <strong>Registrarse</strong>
                </a>
              </div>
            </div>

            {% endif %}


          </div>
        </div>
      </div>
  </nav>
  <!--Fin-->

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Guía desarrollada en CIMAT Zacatecas 2018-2020.</p>
    </div>
  </footer>
  <!-- Fin -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/modal-fx.js' %}"></script>

</body>

</html>
