{% extends 'base.html' %}
{% block content %}
<title>Buenas prácticas</title>
<section class="hero is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Buenas prácticas
      </h1>
    </div>
  </div>
</section>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <h1 class="title is-4">
          ¿Cuáles son las buenas prácticas existentes respecto a la enseñanza de Lean Startup o emprendimiento en un contexto de startups de software?
        </h1>
        <hr>
        <p class="has-text-justified">
          Los resultados obtenidos fueron clasificados en cuatro categorías: enseñanza, proyectos reales, multidisciplinar y entorno. La siguiente tabla muestra la clasificación a detalle. 
        </p><br>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Categoría</th>
              <th>Buenas prácticas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Enseñanza</td>
              <td><p class="has-text-justified">Aula invertida como enfoque de enseñanza de manera que el aprendizaje suceda a medida que los estudiantes experimentan en el proceso (por ejemplo, hablar con los clientes, trabajar en equipo o construir un MVP) <a href="https://dl.acm.org/doi/10.1145/3287324.3287382" target="_blank">(Chanin, 2018).</p></td>
            </tr>
            <tr>
              <td>Enseñanza</td>
              <td><p class="has-text-justified">
              Los maestros deben preocuparse por la enseñanza de conceptos importantes como el MVP y la validación, además, realizar una segunda inspección para asegurarse que los estudiantes tengan una comprensión más profunda de los conceptos <a href="https://dl.acm.org/doi/10.1145/3287324.3287382" target="_blank">(Melegati, 2019).</p></td>
            </tr>
            <tr>
              <td>Proyectos reales</td>
              <td><p class="has-text-justified">Conectar a los estudiantes con la industria para buscar problemas que valgan la pena resolver.
                Uso de metodologías como <strong>Customer Development</strong> y <strong>Lean Startup</strong> para instar a los estudiantes a descubrir las verdaderas necesidades del cliente mediante entrevistas u otros métodos de investigación.
                Todo esto con la finalidad de proporcionar una verdadera experiencia real sobre lo que implica crear una startup de software <a href="https://www.researchgate.net/publication/278673042_Lean_Software_Startup_-_An_Experience_Report_from_an_Entrepreneurial_Software_Business_Course" target="_blank">(Järvi, 2015),
                  <a href="https://ieeexplore.ieee.org/document/8442125" target="_blank">(Buffardi, 2018)

                  .</p>
              </td>
            </tr>
            <tr>
              <td>Entorno</td>
              <td><p class="has-text-justified">Conectar a los estudiantes con fundadores de startups de manera que puedan obtener retroalimentación y mentoria.
                Presentar los proyectos que se estén desarrollando en el aula hacia incubadoras o parques tecnológicos con la finalidad de relacionarse con personas más experimentadas que también puedan apoyar como mentores <a href="https://dl.acm.org/doi/10.1145/3287324.3287382" target="_blank">(Chanin, 2018).</p></td>
            </tr>
            <tr>
              <td>Enseñanza</td>
              <td><p class="has-text-justified">Envolver a los maestros como participantes de la startup y no solo como instructores. Los propios maestros deben fomentar el aprendizaje auto dirigido.
                Ellos mismos deben hacer énfasis en el aprendizaje deliberado como un valor: formular y discutir declaraciones de problemas, reunir pruebas para las decisiones, actuar sobre la base de las pruebas y evaluar los resultados de forma continua <a href="https://www.researchgate.net/publication/327381759_Designing_and_Implementing_an_Environment_for_Software_Start-up_Education_Patterns_and_Anti-Patterns" target="_blank">(Fagerholm, 2018).</p></td>
            </tr>
            <tr>
              <td>Proyectos Reales</td>
              <td><p class="has-text-justified">
                Es importante que los estudiantes descubran problemas reales que vale la pena resolver. Sin embargo, también se recomienda mantener abierta la opción de que los estudiantes puedan definir sus propios proyectos, pueden elegir un problema de la industria que les parezca lo suficiente motivante para resolver.
                Esto permite que se mantengan comprometidos con el proyecto <a href="https://dl.acm.org/doi/10.1145/3287324.3287382" target="_blank">(Chanin, 2018),  <a href="https://ieeexplore.ieee.org/document/8442125" target="_blank">(Buffardi, 2018).

                </p>
            </tr>
            <tr>
              <td>Multidisciplinar</td>
              <td><p class="has-text-justified">
                Explorar alternativas que ayuden a obtener un equipo con habilidades equilibradas.
                Una herramienta recomendada es el software para la formación de equipos llamado CATME TEAM MAKER, este paquete basado en la web toma en cuenta la demografía, la métrica de rendimiento de los estudiantes y las limitaciones de horario de las reuniones del equipo para equilibrar mejor la composición del equipo <a href="https://www.researchgate.net/publication/322666238_Approaches_to_Incorporating_IT_Entrepreneurship_into_the_Information_Systems_Curriculum" target="_blank">(Jones, 2017).

              </p>
            </tr>
          </tbody>
        </table><br>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
