{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Acerca de las cartas de experimentos
      </h1>
      <h2 class="subtitle has-text-justify">
        Cónoce más acerca del uso de las cartas
      </h2>
    </div>
  </div>
</section>


<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <nav class="panel">
          <p class="panel-heading">
            <strong>Cartas de experimentos</strong>
          </p>
          <a href="{% url 'acerca-de-las-cartas' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Acerca de las cartas cartas de experimentos
          </a>
          <a href="{% url 'como-funcionan-las-cartas' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Como funcionan
          </a>
          <a href="{% url 'cuando-usar-las-cartas' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Cuando usarlas
          </a>
          <a href="{% url 'todas-las-cartas' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Todas las cartas por concepto
          </a>
        </nav>
        <hr>
      </div>
    </div>
  </div>
</section>



{% endblock content %}
