{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a></li>
              <li class="is-active"><a href="#" aria-current="page">Como funcionan las cartas de experimentos</a></li>
            </ul>
          </nav>
        </div>
        <h1 class="title is-3">
          ¿Cómo funcionan las nuevas cartas de experimentos?
        </h1>
        <hr>
        <p class="has-text-justified">
          Para entender su funcionamiento se presenta una comparación entre ambas cartas:
        </p><br>

      </div>
    </div>
  </div>
</section>


<section class="hero is-white has-shadow">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <p class="title is-2">Carta de experimento por defecto</p>
          <p class="subtitle is-4">Explicación</p>
          <p class="has-text-justified">
            Se compone de cinco características principales:
          </p><br>
          <ul>
            <li><strong>Hipótesis/Lección:</strong> Es la suposición que los jugadores tienen acerca del servicio.</li>
            <li><strong>Concepto:</strong> El concepto de Lean Startup en sí mismo que la carta pretende enseñar.</li>
            <li><strong>Experimento:</strong> La acción que se va a tomar para comprobar la suposición.</li>
            <li><strong>Aprendizaje validado:</strong> Los resultados que obtuvo del experimento.</li>
            <li><strong>Recompensa:</strong> Mecánica de juego para motivar al jugador.</li>
          </ul><br>


          <article class="message is-primary is-light">
            <div class="message-body">
              <p class="has-text-justified"><strong>Conclusión:</strong>

                Aunque la carta explica brevemente la situación, no logra conectar la hipótesis con una experiencia de la vida real.
                El jugador entiende el experimento pero solamente dentro del contexto el juego.

              </p>
            </div>
          </article>


        </div>


        <div class="column is-half">
          <div class="box">
            <div class="card-image">
              <figure class="image image is-3by2">
                <img src="{% static 'img/mvp-logo.png' %}" alt="Carta de experimento">
              </figure>
            </div>

            <div class="card-content">

              <div class="content">
                <p class="title is-4 has-text-warning has-text-centered has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link" data-tooltip="Hipótesis"> WORD OF MOUTH <span></p>
                <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-right has-tooltip-multiline" data-tooltip="Concepto"> MVP </span></p>
              </div>

              <div class="content">
                <p class="has-text-justified has-text-weight-bold"> We decide that our MVP is good enough and <span class="has-tooltip-arrow has-tooltip-link has-tooltip-bottom has-tooltip-multiline" data-tooltip="Experimento"> do a silent beta </span>launch.</p>
                <br>
                <p class="has-text-justified has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Aprendizaje validado">Without any marketing</span>, the word about our service is spreading through town.</p>
                <br>
                <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Recompensa">Flip 2 tiles<span></p><br>
                <div class="has-text-centered">
                  <span class="button is-primary modal-button" data-target="modal-carta1">Ver carta de experimento</span>
                </div>

              </div>
            </div>
          </div>

          <!-- Modal carta 1-->


          <div id="modal-carta1" class="modal modal-fx-superScaled">
            <div class="modal-background"></div>
            <div class="modal-content is-huge is-image">
              <!-- content -->
              <img src="{% static 'img/mvp1.png' %}" alt="Word of mouth - MVP">
              <!-- end content -->
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>

          <!-- Cierra modal -->

          <!-- Modal conclusión 1-->

          <div id="modal-conclusion1" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Acerca de la carta</p>
              </header>
              <section class="modal-card-body">
                <p class="has-text-justified">
                  Aunque la carta explica brevemente la situación, no logra conectar la hipótesis con una experiencia de la vida real.
                  El jugador entiende el experimento pero solamente dentro del contexto el juego.
                </p>
              </section>
              <footer class="modal-card-foot">
              </footer>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>

          <!-- Cierra modal -->


        </div>
      </div><br>
      <hr>
</section>

<section id="carta-airbnb" class="hero is-white has-shadow">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">


          <div class="box">
            <div class="card-image">
              <div class="box has-text-centered has-background-dark">
                <p class="is-uppercase has-text-weight-bold is-size-5 has-text-white">Carta de experimento</p>
                <p class="is-uppercase has-text-weight-bold is-size-5 has-text-white">Caso Airbnb</p>
              </div>
              <hr class="has-background-primary">
            </div>
            <div class="card-content">
              <div class="content">
                <p class="title is-6 has-text-justified has-text-weight-bold">LOS EXTRAÑOS <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Hipótesis">PAGAR&Aacute;N </span> POR QUEDARSE EN NUESTRA CASA</p>
                <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right" data-tooltip="Concepto">MVP<span></p>
              </div>

              <div class="content">
                <p class="has-text-justified"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Experimento real">Para comprobar la suposición, los fundadores jugaron el rol de vendedores. Chesky and Gebbia probaron
                    de la manera más fácil posible</span>.
                  Ellos mismos proporcionaban un colchón de aire en su sala, wifi gratis, desayuno gratis y <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right"
                    data-tooltip="Concepto: Propuesta de valor"><strong>la promesa de una experiencia de red única con gente de ideas afines</strong>.</span></p>
                <p class="has-text-justified">No alquilaron espacio ni compraron camas nuevas. Aprovecharon sus activos existentes para probar su hipótesis lo más rápido posible.</p>
                <figure class="image image is-3by2">
                  <img src="{% static 'img/airbnb-mvp.png' %}" alt="Primer MVP de Airbnb">
                </figure>
                <p class="has-text-justified">En su <strong>MVP (Producto Mínimo Viable) </strong>, no había un sitio web robusto ni opciones para seleccionar múltiples fechas, lugares o precios.
                  <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right" data-tooltip="Concepto: Perfil de cliente"><strong>Apuntaron a un grupo demográfico: los asistentes a la conferencia de
                      tecnología</strong>.</span></p>
                <p class="has-text-justified">No necesitaban dar otras opciones para probar esta simple suposición. No necesitaban tomar en cuenta cada caso de uso.
                  Sólo necesitaban confirmar que un número suficiente de personas estaban dispuestas a alquilar lo que ofrecían.
                  <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right" data-tooltip="Aprendizaje validado">Terminaron encontrando tres, que acordaron pagar 80 dólares por noche cada uno</span>.</p>
                <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Recompensa">Voltea 3 fichas</span></p><br>
                <div class="has-text-centered">
                  <span class="button is-primary modal-button" data-target="modal-carta2">Ver carta de experimento</span>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="column is-half">
          <p class="title is-2">Carta de experimento mejorada</p>
          <p class="subtitle is-4">Explicación</p>
          <p class="has-text-justified">
            Se compone de cinco características principales:
          </p><br>
          <ul>
            <li><strong>Hipótesis/Lección:</strong> Es la suposición que los fundadores de Airbnb se plantearon en ese momento.</li>
            <li><strong>Concepto(s):</strong> En este caso, la carta puede enseñar varios conceptos a través del mismo ejemplo.</li>
            <li><strong>Experimento:</strong> La acción que los fundadores ejecutaron para comprobar la suposición.</li>
            <li><strong>Aprendizaje validado:</strong> Los resultados que obtuvieron del experimento.</li>
            <li><strong>Recompensa:</strong> Mecánica de juego para motivar al jugador.</li>
          </ul><br>
          <h1 class="title is-4">
            Ser Lean como Airbnb
          </h1>
          <p class="has-text-justified">
            La historia comienza con un par de emprendedores que comenzaron rentando algunas camas de aire en su departamento. Después fundaron
            Airbnb y lideraron una revolución en la forma de hospedarse al viajar por el mundo.
          </p><br>

          <p class="has-text-justified">El escenario contextual predefinido del juego se basa en la industria hotelera, cada equipo representa una startup
            desarrollando un servicio de hospedaje compitiendo por capturar la mayor parte del mercado. Esta configuración del juego permite que las cartas
            basadas en la historia de Airbnb simplifiquen el proceso de aprendizaje de manera que el jugador pueda identificar la relación causa-efecto del experimento y abstraerlo con la
            realidad.
          </p><br>

          <article class="message is-primary is-light">
            <div class="message-body">
              <p class="has-text-justified"><strong>Conclusión:</strong>

                Esta carta contiene una historia acerca del origen del experimento, una situación real que los fundadores tuvieron que enfrentar. Además, existe una secuencia de hechos
                para motivar y comprometer al jugador, cada carta explica alguna de las acciones que Airbnb tomó, desde su concepción hasta alcanzar un impacto global.
                De esta manera se logra ir más allá del juego, los jugadores pueden experimentar una conexión más profunda con el concepto que se pretende enseñar y mejora el resultado de aprendizaje.


              </p>
            </div>
          </article>
        </div>
      </div>

      <div id="modal-carta2" class="modal modal-fx-superScaled">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
          <!-- content -->
          <img src="{% static 'img/mvp.png' %}" alt="Primer MVP de Airbnb">
          <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>

      <!-- Cierra modal -->
      <div class="notification is-warning">
        <p><strong>Nota:</strong> Todas las historias que se relatan a través de las cartas de experimentos están basadas en el libro <a href="https://www.goodreads.com/book/show/32198220-the-airbnb-story" target="_blank"> The Airbnb Story </a> de
          Leigh
          Gallagher.</p><br>
        <p>Cabe aclarar que las cartas nuevas no son un reemplazo a las originales, es un complemento para mejorar el resultado de aprendizaje contando historias de la vida real y así lograr una transferencia de conocimiento
          efectiva.</p>
      </div>

      <br>
      <hr>
    </div>
  </div>
</section>

{% endblock content %}
