{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a></li>
              <li class="is-active"><a href="#" aria-current="page">Cuando usar las cartas de experimentos</a></li>
            </ul>
          </nav>
        </div>

        <h1 class="title is-3">
          ¿Cuando usar las cartas de experimentos?
        </h1>
        <hr>
        <article class="message is-primary is-light">
          <div class="message-body">
            <p class="has-text-justified"><span class="icon has-text-dark">
                <i class="fas fa-info-circle"></i>
              </span>Para familiarizarse con el uso de las cartas puede comenzar revisando el siguiente vídeo acerca de como se juega Playing Lean 2.</p>
          </div>
        </article>
        <iframe width="805" height="453" src="https://www.youtube.com/embed/XHugnsPguwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

        <p class="hast-text-justified">
          Las cartas de experimentos se utilizan cuando los jugadores investigan el mercado (si la tarjeta indica éxito pueden voltear una ficha de cliente en el tablero de juego para recibir información sobre las demandas de un cliente).

        </p><br>
        <p class="hast-text-justified">
          Use las cartas cuando los jugadores vayan a realizar un experimento en la fase de acción. De acuerdo al <a href="{% url 'flujo-del-juego' %}">flujo del juego</a>,
          los equipos se turnarán para llevar a cabo sus acciones planeadas. Existen tres tipos de acciones durante esta fase:
        </p><br>
        <div class="content">
          <ul>
            <li>Experimentar</li>
            <li>Construir una característica</li>
            <li>Vender</li>
          </ul>
        </div>

        <p class="has-text-justified">Para realizar un experimento, el jugador debe retirar los tokens de empleado que designó y tomar una tarjeta de experimento del color correspondiente.
          A continuación debe leer el contenido en voz alta para que todos lo escuchen. Al final de la tarjeta se indica cuantas fichas de cliente puede revisar del tablero de juego. Por último, el
          jugador debe voltear las fichas para ver la infomación que contiene y regresarlas a su lugar.</p><br>

        <p>La siguiente imagen muestra el flujo básico cuando se realiza un experimento:</p><br>

        <h1 class="title is-4">
          Fase de acción
        </h1>
        <h2 class="subtitle has-text-justify">
          Experimento
        </h2>
        <figure class="image">

          <img src="{% static 'img/action-new.png' %}">

          <figcaption></figcaption>
        </figure><br>

        <p class="has-text-justified">Esta acción proporciona información acerca de las preferencias de los clientes que forman parte del tablero de juego.
          Es aquí donde el instructor puede utilizar las nuevas cartas de experimentos para explicar a detalle los conceptos a través de las historias de Airbnb.
        </p><br>

        <h1 class="title is-4">
          Ejemplo
        </h1>


        <p>El jugador hace un experimento en color amarillo y le aparece el concepto <strong>Problem-Solution Fit</strong>:</p><br>

        <div class="box">
          <div class="card-image">
            <figure class="image image is-3by2">
              <img src="{% static 'img/psf3.png' %}" alt="Problem-Solution Fit">
            </figure>
          </div>

          <div class="card-content">

            <div class="content">
              <p class="title is-4 has-text-warning has-text-centered has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link" data-tooltip="Lección"> SURVIVAL OF THE FITTEST <span></p>
              <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-right has-tooltip-multiline" data-tooltip="Concepto"> Problem-Solution Fit </span></p>
            </div>

            <div class="content">
              <p class="has-text-centered"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-bottom has-tooltip-multiline" data-tooltip="Experimento">Now it's time to design one more set of experiments.</span></p>
              <br>
              <p class="has-text-centered"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Aprendizaje validado">It seems like we have, a value proposition that address our customer's jobs, pains and gains. Very
                  valuable insight!</span></p>
              <br>
              <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Recompensa">Flip 3 tiles</p><br>
              <div class="has-text-centered">
                <span class="button is-primary modal-button" data-target="modal-carta3">Ver carta de experimento</span>
              </div>

            </div>
          </div>


          <!-- Modal carta 1-->


          <div id="modal-carta3" class="modal modal-fx-superScaled">
            <div class="modal-background"></div>
            <div class="modal-content is-huge is-image">
              <!-- content -->
              <img src="{% static 'img/psf-2.png' %}" alt="Survival to the fittest - Problem-Solution Fit">
              <!-- end content -->
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>

          <!-- Cierra modal -->


        </div>
        <p>El instructor puede usar la siguiente carta para ilustrar el concepto a través de un caso más especifíco:</p><br>



        <div class="box">
          <div class="card-image">
            <div class="box has-text-centered has-background-dark">
              <p class="is-uppercase has-text-weight-bold is-size-5 has-text-white">Carta de experimento</p>
              <p class="is-uppercase has-text-weight-bold is-size-5 has-text-white">Caso Airbnb</p>
            </div>
            <hr class="has-background-primary">
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6 has-text-centered has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Hipótesis">VE A DONDE ESTÁN TUS USUARIOS</span></p><br>
              <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold"><span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right" data-tooltip="Concepto">Problem-Solution Fit<span></p>
            </div>

            <div class="content">
              <p class="has-text-justified">Una vez dentro de Y Combinator, aprenderían dos importantes lecciones gracias a su
                mentor Paul Graham. En ese momento Airbed & Breakfast solo contaba con alrededor de
                100 usuarios, la mayoría basados en la ciudad de Nueva York..</p>
              <p class="has-text-justified">
                <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline" data-tooltip="Experimento real">
                  Por lo tanto, Paul Graham les pregunto: ¿Porque si sus usuarios estaban en Nueva York
                  ustedes aún siguen en Mountain View?, así que les sugirió que fueran a Nueva York con sus usuarios.</span></p>
              <figure class="image image is-3by2">
                <img src="{% static 'img/psf-airbnb.png' %}" alt="Ajuste problema solución de Airbnb">
              </figure>
              <p class="has-text-justified">
                Los fundadores volaban a Nueva York cada semana. Aprendieron mucho hablando con
                sus clientes, pero aprendieron más simplemente viviendo en sus salas y observándolos
                mientras usaban su producto en línea. Chesky y Gebbia rápidamente <span class="has-tooltip-arrow has-tooltip-link has-tooltip-multiline has-tooltip-right" data-tooltip="Aprendizaje validado">identificaron dos
                  puntos dolorosos: la gente tenía problemas para poner precio a sus propiedades, y
                  las fotos eran un gran dolor.</span>.</p><br>
              <p class="subtitle is-6 has-text-centered has-text-black has-text-weight-bold">Voltea 3 fichas</p><br>
              <div class="has-text-centered">
                <span class="button is-primary modal-button" data-target="modal-carta4">Ver carta de experimento</span>
              </div>
            </div>
          </div>
        </div>
        <article class="message is-primary is-light">
          <div class="message-body">
            <p>Para un uso efectivo, el instructor puede utilizar un proyector para mostrar las nuevas tarjetas de experimentos y tener breves discusiones acerca del tema.</p>
          </div>
        </article>
      </div>

      <div id="modal-carta4" class="modal modal-fx-superScaled">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
          <!-- content -->
          <img src="{% static 'img/problem.png' %}" alt="Problem Solution Fin Airbnb">
          <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>








    </div>
  </div>
</section>

{% endblock content %}
