{% extends 'base.html' %}
<!-- templates/registration/signup.html -->

{% block title %}Editar Planeación{% endblock %}

{% block content %}




<section class="hero is-medium has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">


      <div class="column is-three-quarters">
        <nav class="panel">
          <p class="panel-heading">Actualizar planeación</p>
          <div class="panel-block">
            <div class="content column is-full">
               {% for item in plan %}



              <form action="{% url 'actualizar_planeacion' item.id %}" method="post">
                {% csrf_token %}

                <div class="field">
                  <label class="label">
                    <span class="icon is-small has-text-info modal-button" data-target="modal-modalidad">
                      <i class="fas fa-question-circle is-info"></i>
                    </span>
                    Paso 1: Añadir modalidad
                  </label>
                  <div class="control">
                    <div class="select">
                      <select name="modalidad" required>
                        <option value="{{ item.modalidad }}">{{ item.modalidad }}</option>
                        <option value="Taller exclusivo para la enseñanza de Lean Startup">Taller exclusivo para la enseñanza de Lean Startup</option>
                        <option value="Curso universitario">Curso universitario</option>
                        <option value="Programa de entrenamiento">Programa de entrenamiento</option>
                      </select>
                    </div>
                  </div>
                </div><br>

                <div class="field">
                  <label class="label">Paso 2: Añadir fecha, hora y lugar</label>
                  <label class="label">Establecer fecha</label>
                  <div class="control">
                    <input class="input" value="{{ item.fecha }}" type="date" name="fecha" min="2020-10-07" max="2022-12-31" required></input>
                  </div>
                </div><br>

                <div class="field">
                  <label class="label">Establecer hora</label>
                  <div class="control">
                    <input class="input" value="{{ item.hora }}" type="time" name="hora" min="09:00" max="18:00" required></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Establecer lugar</label>
                  <div class="control">
                    <input class="input" value="{{ item.lugar }}" type="text" name="lugar" placeholder="Establecer el lugar donde se va a realizar el taller..." required></input>
                  </div>
                </div><br>

                <div class="field">
                  <label class="label">
                    <span class="icon is-small has-text-info modal-button" data-target="modal-materiales">
                      <i class="fas fa-question-circle is-info"></i>
                    </span>
                    Paso 3: Materiales
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="materiales" value="Mesa grande, sillas, proyector, pintarron, bolígrafos, etc." required>
                    Mesa grande, sillas, proyector, pintarron, bolígrafos, etc.
                  </label>
                </div><br>

                <div class="field">
                  <label class="label">
                    <span class="icon is-small has-text-info modal-button" data-target="modal-participantes">
                      <i class="fas fa-question-circle is-info"></i>
                    </span>
                    Paso 4: Número de jugadores
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="jugadores" value="Número de jugadores mayor o igual a 12" required>
                    Número de jugadores mayor o igual a 12
                  </label>
                </div>

                <div class="field">
                  <p class="control">
                    <button type="submit" class="button is-success is-pulled-right">
                      <span class="icon is-small">
                        <i class="fas fa-check"></i>
                      </span>
                      <span>Actualizar</span>
                    </button>
                  </p>
                </div><br><br>
                <hr>
              </form>

            </div>
            {% endfor %}
          </div>
        </nav>
      </div>




    </div>
  </div>



  <!-- Modals -->

  <div id="modal-modalidad" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acerca de la modalidad</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">Es importante tener un plan acerca de los preparativos que deben cumplirse antes de poder comenzar a hacer el despliegue del juego.
          La primer actividad de esta fase es establecer la modalidad en que se llevará a cabo la ejecución del juego, ya sea un taller exclusivo para la enseñanza, como parte de un curso universitario
          o en un programa de entrenamiento.
        </p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="modal-materiales" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acerca de los materiales</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">
          Confirmar si el espacio asignado para la realización del taller cuenta con los materiales necesarios como una mesa grande, sillas, proyector, pintaron, etc.
        </p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="modal-participantes" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acerca de los jugadores</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">
          Revisar que el número de participantes en el taller sea mínimo de 12 para contar con 4 equipos de 3 integrantes.
        </p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <!-- Modals -->




</section>
{% endblock %}
