{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Juego serio</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'juego-serio' %}">Juego</a></li>
              <li class="is-active"><a href="#" aria-current="page">Flujo del juego</a></li>
            </ul>
          </nav>
        </div>

        <h1 class="title is-3">
          ¿Cómo jugar Playing Lean 2?
        </h1>
        <hr>


        <article class="message is-primary is-light">
          <div class="message-body">
            <p class="has-text-justified"><span class="icon has-text-dark">
                <i class="fas fa-info-circle"></i>
              </span>Para familiarizarse con el uso del juego puede comenzar revisando los siguientes vídeos acerca de como se juega Playing Lean 2.</p>
          </div>
        </article>
        <p class="has-text-justified">El primer vídeo habla sobre el origen del juego en su primera versión.</p><br>


        <iframe width="806" height="453" src="https://www.youtube.com/embed/BuRrN8S1lqg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

        <p class="has-text-justified">En este vídeo se muestra el game play del juego actual.</p><br>


        <iframe width="805" height="453" src="https://www.youtube.com/embed/XHugnsPguwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>


        <h1 class="title is-3">
          Breve introducción
        </h1>
        <hr>

        <p class="has-text-justified">
          Playing Lean es un juego serio de mesa que genera entusiasmo, motivación y lecciones aprendidas sobre el tema de la innovación moderna y el desarrollo de productos.
          Mediante Playing Lean, los jugadores pueden dirigir una startup desde el inicio hasta la dominación del mercado, experimentando, construyendo un producto y vendiendo sobre la marcha.
        </p><br>
        <p class="has-text-justified">
          Playing Lean tiene como objetivo enseñar la metodología Lean Startup. El jugador puede realizar experimentos, desarrollar un producto, venderlo a los clientes y construir una compañia, básicamente todas aquellas cosas que un emprendedor
          debe hacer en la vida real cuando esta transformando una idea de startup en un negocio exitoso.
          Por lo tanto, como sucede en el mundo real, el negocio ganador es aquel que aprende más rápido y conquista el mercado masivo.
        </p><br>
        <h1 class="title is-3">
          Flujo del juego
        </h1>
        <hr>
        <p class="has-text-justified">
          El juego consiste en varias  rondas. Los jugadores deben pasar por las siguientes fases en cada ronda:
        </p><br>

        <div class="content">
          <ol>
            <li class="has-text-justified"><strong>Fase de subasta:</strong>

              Cada ronda comienza realizando una subasta por un bloque que proporciona una ventaja o característica especial para la compañia, este tipo de ventaja puede ser experimentar más rápido, vender con el mínimo de empleados, construir más
              rápido, entre otros. <br> <br>
              Cada equipo recibe 3 tokens de empleados al iniciar el juego, aquel equipo que apueste el mayor número de tokens de empleados se lleva el bloque y gana la fase de subasta. Si ningún equipo compite por el
              bloque de
              compañia en juego, se descarta y se pasa a la siguiente fase.
            </li><br>


            <li class="has-text-justified"><strong>Fase de planeación:</strong>
              En esta fase el equipo debe decidir que acciones va a realizar utilizando sus tokens de empleados, cada acción requiere cierto número de empleados, esto puede entenderse como la asignación de tareas que un equipo de desarrollo planea
              para su semana de trabajo. <br><br>
              Por lo tanto deben de elegir que acciones se llevarán a cabo, ya sea construir una nueva característica del producto, realizar experimentos para aprender sobre las necesidades del cliente o venderle a un
              cliente.

              Los jugadores tienen un límite de tiempo de dos minutos para decidir las acciones a realizar, una vez transcurrido el tiempo límite, se pasa a la siguiente fase.
            </li><br>


            <li class="has-text-justified"><strong>Fase de acción:</strong>
              En esta fase se ejecutan las acciones que el equipo acordó en la fase de planeación.<br> <br>
              Las acciones se llevan a cabo por turnos, comienza el equipo que tenga la preferencia en esa ronda y a continuación va el equipo correspondiente
              siguiendo el orden de las manecillas del reloj.


              Tipos de acciones:

              <div class="content">
                <ul>
                  <li class="has-text-justified"><strong>Experimentar:</strong>

                    Esta acción permite realizar un experimento para explorar el mercado y obtener información acerca de las preferencias de los clientes. 

                  </li>
                  <li class="has-text-justified"><strong>Construir el producto:</strong>
                    Esta acción permite agregar una característica al producto, dependiendo del número de empleados que se hayan asignado en la fase de planeación es el número de características que se pueden construir. 

                  </li>

                  <li class="has-text-justified"><strong>Vender:</strong>
                    Esta acción permite vender el producto a los clientes potenciales, está acción al igual que las anteriores, se puede hacer en cualquier momento de esta fase. Sin embargo, para que una venta se considere exitosa el producto tiene
                    que cumplir con las características que está pidiendo el cliente.
                  </li>

                </ul>
              </div>
            </li><br>
          </ol>
        </div>

        <h1 class="title is-3">
          Tablero de juego
        </h1>
        <hr>



        <p class="has-text-justified">
          El tablero de juego representa el mercado y está dividido en tarjetas de clientes de tres colores diferentes. Los clientes en color verde representan a los clientes que están en búsqueda de probar nuevos productos y se arriesgan a ello, son
          conocidos como los innovadores.
        </p><br>

        <p class="has-text-justified">
          Los clientes en color amarillo y naranja se refieren a los clientes que están buscando una verdadera resolución a un problema y suelen ser personas influyentes o líderes de opinión, son mejor conocidos como early adopters.
        </p><br>

        <p class="has-text-justified">
          Estos mismos colores también representan las cuatro etapas por las que atraviesa una startup para tener éxito con su producto o servicio como
          se explica en la sección de <a href="{% url 'todas-las-cartas' %}">cartas de experimentos.</a>
        </p><br>

        <h1 class="title is-3">
          Notas finales
        </h1>
        <hr>


        <p class="has-text-justified">
          Por último, hay una carta de cliente en color rojo que representa el mercado masivo, lo que quiere decir que cuando un equipo logra venderle a este cliente automáticamente se convierte en el ganador del juego.
        </p><br>

        <p class="has-text-justified">
          Cabe destacar que la acción de venderle al cliente en color rojo es una mecánica del juego que da el triunfo al equipo. Sin embargo, como se descubrió en los <a href="{% url 'recomendaciones' %}">resultados del estado de la práctica,</a><strong> hay que hacer énfasis en que el verdadero objetivo del juego es enseñar los conceptos clave de la
          metodología Lean Startup y no solamente ser un equipo ganador dentro del juego.</strong>
        </p><br>

        <p class="has-text-justified">
          Las lecciones aprendidas durante el juego y las estrategias bien pensadas son la que van a permitir desarrollar una startup y equipo exitoso en la vida real.
        </p><br>

        <!--
        <p class="hast-text-justified content is-small">
          Tore Rasmussen. 2016. <a href="https://nmbu.brage.unit.no/nmbu-xmlui/handle/11250/2384042" target="_blank">"Playing Lean : gamification of the Lean Startup methodology"</a>.

        </p>

        -->
        <hr>










      </div>
    </div>
  </div>
</section>

{% endblock content %}
