{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="hero is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Ruta para impartir taller Lean Startup
      </h1>
      <h2 class="subtitle has-text-justify">
        <p class="has-text-centered">Con el fin de guiar en la impartición de los talleres, la ruta proporciona un proceso sistemático dividido en cinco fases interconectadas.</p>
      </h2>
    </div>
  </div>
</section>

<section class="hero has-shadow">
  <div class="hero-body">
    <div id="tabs-with-content">
      <div class="columns is-centered">
        <div class="column is-12">
          <div class="tabs is-toggle is-centered">
            <ul>
              <li>
                <a>
                  <span class="icon is-small"><i class="fas fa-bullseye" aria-hidden="true"></i></span>
                  <span>Fase 1: Alcance </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon is-small"><i class="fas fa-tasks" aria-hidden="true"></i></span>
                  <span>Fase 2: Planeación</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
                  <span>Fase 3: Ejecución</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon is-small"><i class="far fa-chart-bar" aria-hidden="true"></i></span>
                  <span>Fase 4: Análisis</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="icon is-small"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
                  <span>Fase 5: Resultados </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Seccion Fase 1 -->
      <section class="tab-content">
        <div class="columns is-centered">
          <div class="column is-11">
            <!-- Inicia Panel -->
            <nav class="panel">
              <p class="panel-heading">
                Definir el objetivo de aprendizaje/evaluación
              </p>
              <div class="panel-block">
                <div class="content column is-full">



                  {% for item in data %}
                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Objetivo
                    </h2>
                    <ul>
                      <li>{{ item.goal }}</li>
                    </ul>
                    <hr>
                  </div>

                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Contexto
                    </h2>
                    <ul>
                      <li>{{ item.contexto }}</li>
                    </ul>
                    <hr>
                  </div>

                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Juego de mesa listo
                    </h2>
                    <ul>
                      <li>{{ item.juego }}</li>
                    </ul>
                    <hr>
                  </div>






                  <div class="field is-grouped is-pulled-right">
                    <p class="control">
                      <a href="{% url 'editar-alcance' item.id %}" class="button is-success is-pulled-right">
                        Actualizar
                      </a>
                    </p>
                    <p class="control">
                      <a href="#" onclick="eliminarAlcance({{ item.id }})" class="button is-danger is-pulled-right">
                        Eliminar
                      </a>
                    </p>
                  </div><br><br>
                  <hr>
                  {% endfor %}

                  <!-- Inicia form -->

                  <form action="" method="post">
                    {% csrf_token %}

                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-goals">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 1: Añadir objetivo
                      </label>
                      <div class="control">
                        <input class="input" name="goal" placeholder="Establecer objetivo de aprendizaje..." required></input>
                      </div>
                    </div><br>



                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-context">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 2: Definir el contexto
                      </label>
                      <div class="control">
                        <div class="select">
                          <select name="contexto" required>
                            <option value="">Seleccionar</option>
                            <option value="Estudiantes de Ingeniería de Software">Estudiantes de Ingeniería de Software</option>
                            <option value="Emprendedores de Startups de Software">Emprendedores de Startups de Software</option>
                            <option value="Practicantes de Lean Startup">Practicantes de Lean Startup</option>
                          </select>
                        </div>
                      </div>
                    </div><br>

                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-game">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 3: Obtener juego Playing Lean
                      </label>
                      <p>¿Ya se cuenta con el juego de mesa?</p>
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="juego" value="Sí" required>
                          Sí
                        </label>
                        <label class="radio">
                          <input type="radio" name="juego" value="No" required>
                          No
                        </label>
                      </div>
                    </div><br>


                    <div class="field">
                      <div class="control">
                        <button type="submit" class="button is-success is-pulled-right">
                          <span class="icon is-small">
                            <i class="fas fa-check"></i>
                          </span>
                          <span>Guardar</span>
                        </button>
                      </div><br><br>
                      <hr>
                    </div>
                  </form> <!-- Termina form -->


                  <!-- Modals -->

                  <div id="modal-goals" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Acerca de los objetivos</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">Como punto de partida, se requiere establecer con claridad cual es el objetivo de aprendizaje que se pretende alcanzar. Este puede ir desde mejorar el resultado de aprendizaje en caso de que
                          ya se haya realizado un taller anterior, reforzar la comprensión de los conceptos clave de Lean Startup, hasta mejorar la experiencia de aprendizaje, es decir, lograr que la experiencia sea inmersiva o motivadora. </p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>


                  <div id="modal-context" class="modal modal-fx-fadeInScale">
                    <div class="modal-background"></div>
                    <div class="modal-content modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Acerca del contexto</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">Identificar el perfil al que está enfocado el taller, para estudiantes de ciencias de la computación, emprendedores de startups de software, o practicantes de Lean Startup.</p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>


                  <div id="modal-game" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Obtener juego serio Playing Lean</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">Playing lean es el juego serio de mesa que se utiliza para enseñar Lean Startup. Los elementos del juego están interrelacionados con la metodología, la forma en que
                          esta diseñado permite que se genere un ambiente de entusiasmo, motivación y lecciones de aprendizaje. El juego se puede obtener desde el sitio web
                          de los creadores, <a href="https://playinglean.com" target="_blank">Playing Lean</a>.
                        </p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>



                  <!-- Modals -->










                </div> <!-- Cierra panel block -->
            </nav> <!-- Termina panel -->
          </div> <!-- Column is full -->
        </div> <!-- Colum is centered -->
      </section>
      <!-- Cierra Fase 1 -->

      <!-- Abre Fase 2 -->
      <section class="tab-content">
        <div class="columns is-centered">
          <div class="column is-11">




            <!-- Inicia Panel -->
            <nav class="panel">
              <p class="panel-heading">
                Establecer como, cuando y donde se llevará a cabo el taller
              </p>
              <div class="panel-block">
                <div class="content column is-full">



                  {% for elemento in datos %}
                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Modalidad:
                    </h2>
                    <ul>
                      <li>{{ elemento.modalidad }}</li>
                    </ul>
                    <hr>
                  </div>

                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Fecha, hora y lugar:
                    </h2>
                    <ul>
                      <li>{{ elemento.fecha}}</li>
                      <li>{{ elemento.hora }}</li>
                      <li>{{ elemento.lugar }}</li>
                    </ul>
                    <hr>
                  </div>

                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Materiales:
                    </h2>
                    <ul>
                      <li>{{ elemento.materiales }}</li>
                    </ul>
                    <hr>
                  </div>

                  <div class="box content is-small">
                    <h2 class="subtitle">
                      Número de jugadores:
                    </h2>
                    <ul>
                      <li>{{ elemento.jugadores }}</li>
                    </ul>
                    <hr>
                  </div>






                  <div class="field is-grouped is-pulled-right">
                    <p class="control">
                      <a href="{% url 'editar-planeacion' elemento.id %}" class="button is-success is-pulled-right">
                        Actualizar
                      </a>
                    </p>
                    <p class="control">
                      <a href="#" onclick="eliminarPlaneacion({{ elemento.id }})" class="button is-danger is-pulled-right">
                        Eliminar
                      </a>
                    </p>
                  </div><br><br>
                  <hr>
                  {% endfor %}






                  <!-- Modals -->

                  <div id="modal-modalidad" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Acerca de la modalidad</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">Es importante tener un plan acerca de los preparativos que deben cumplirse antes de poder comenzar a hacer el despliegue del juego.
                          La primer actividad de esta fase es establecer la modalidad en que se llevará a cabo la ejecución del juego, ya sea un taller exclusivo para la enseñanza, como parte de un curso universitario
                          o en un programa de entrenamiento.
                        </p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>

                  <div id="modal-materiales" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Acerca de los materiales</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">
                          Confirmar si el espacio asignado para la realización del taller cuenta con los materiales necesarios como una mesa grande, sillas, proyector, pizarrón blanco, etc.
                        </p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>

                  <div id="modal-participantes" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Acerca de los jugadores</p>
                      </header>
                      <section class="modal-card-body">
                        <p class="has-text-justified">
                          Revisar que el número de participantes en el taller sea mínimo de 12 para contar con 4 equipos de 3 integrantes.
                        </p>
                      </section>
                      <footer class="modal-card-foot">
                      </footer>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div>

                  <!-- Modals -->





                  <form action="{% url 'test' %}" method="post">
                    {% csrf_token %}

                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-modalidad">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 1: Añadir modalidad
                      </label>
                      <div class="control">
                        <div class="select">
                          <select name="modalidad" required>
                            <option value="">Seleccionar</option>
                            <option value="Taller exclusivo para la enseñanza de Lean Startup">Taller exclusivo para la enseñanza de Lean Startup</option>
                            <option value="Curso universitario">Curso universitario</option>
                            <option value="Programa de entrenamiento">Programa de entrenamiento</option>
                          </select>
                        </div>
                      </div>
                    </div><br>

                    <div class="field">
                      <label class="label">Paso 2: Añadir fecha, hora y lugar</label>
                      <label class="label">Establecer fecha</label>
                      <div class="control">
                        <input class="input" type="date" name="fecha" min="2020-10-07" max="2022-12-31" required></input>
                      </div>
                    </div><br>

                    <div class="field">
                      <label class="label">Establecer hora</label>
                      <div class="control">
                        <input class="input" type="time" name="hora" min="09:00" max="18:00" required></input>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Establecer lugar</label>
                      <div class="control">
                        <input class="input" type="text" name="lugar" placeholder="Establecer el lugar donde se va a realizar el taller..." required></input>
                      </div>
                    </div><br>

                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-materiales">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 3: Materiales
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" name="materiales" value="Mesa grande, sillas, proyector, pintarron, bolígrafos, etc." required>
                        Mesa grande, sillas, proyector, pintarron, bolígrafos, etc.
                      </label>
                    </div><br>

                    <div class="field">
                      <label class="label">
                        <span class="icon is-small has-text-info modal-button" data-target="modal-participantes">
                          <i class="fas fa-question-circle is-info"></i>
                        </span>
                        Paso 4: Número de jugadores
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" name="jugadores" value="Número de jugadores mayor o igual a 12" required>
                        Número de jugadores mayor o igual a 12
                      </label>
                    </div>

                    <div class="field">
                      <p class="control">
                        <button type="submit" class="button is-success is-pulled-right">
                          <span class="icon is-small">
                            <i class="fas fa-check"></i>
                          </span>
                          <span>Guardar</span>
                        </button>
                      </p>
                    </div><br><br>
                    <hr>
                    </form>

                    <label class="label">Paso 5: Preparar el instrumento y cuestionario de evaluación.</label>
                    <div class="notification is-link" id="plan">
                      <strong>Descargar y preparar el instrumento de evaluación de juegos serios MEEGA+ (<a href="https://link.springer.com/referenceworkentry/10.1007%2F978-3-319-08234-9_214-1" target="_blank">G. Petri, C. Gresse von
                          Wangenheim, A.F. Borgatto)</a>.</strong><br><br>
                      <p>El instrumento incluye los siguientes archivos:</p>
                      <ul>
                        <a href="https://drive.google.com/file/d/1tbJpEcOE8Q1TeYstCqyLzu7Qud_EoMCM/view" target="_blank">
                          <li>Cuestionario del estudiante</li>
                        </a>
                        <a href="https://drive.google.com/file/d/1LiL2A4RZ95lyMKcsnMkvelLmRt7TLnZt/view" target="_blank">
                          <li>Hoja de cálculo para el análisis de datos</li>
                        </a>
                        <a href="https://drive.google.com/file/d/1xNyqSUmnQVKuRl6yz3nEoWKI4_5Hiab7/view" target="_blank">
                          <li>Instrucciones de uso de la hoja de cálculo</li>
                        </a>
                      </ul>
                    </div>
                    <p class="has-text-justified">La información del cuestionario puede llenarse previamente agregando el nombre del instructor a cargo, la fecha, lugar, institución, así como grado y asignatura en caso de formar parte de algún
                      curso acádemico.</p>

                    <p>A continuación se presenta un ejemplo sobre el cuestionario de evaluación del estudiante:</p><br>
                    <figure class="image">

                      <img src="{% static 'img/cuestionario-eva.png' %}">

                      <figcaption>Cuestionario de evaluación del estudiante</figcaption>

                    </figure>
                    <p class="has-text-justified">Otro aspecto que debe prepararse es el establecimiento de los objetivos de aprendizaje que se pretenden alcanzar. La siguiente afirmación se repite para cada objetivo del juego:</p><br>
                    <div class="notification is-warning">
                      <p><strong>El juego ha contribuido para (verbo de acuerdo con el nivel de objetivo de aprendizaje) (cognitivo, psicomotor, afectivo) (objetivo/concepto>).</strong></p>
                    </div>
                    <p>A continuación se presenta un ejemplo sobre los objetivos de aprendizaje en el cuestionario:</p><br>
                    <figure class="image">

                      <img src="{% static 'img/cuestionario-objetivos.png' %}">

                      <figcaption>Objetivos de aprendizaje</figcaption>

                    </figure>
                    <hr>
                </div> <!-- Cierra contenido de columnas dentro del panel -->
              </div> <!-- Cierra panel block -->
            </nav> <!-- Termina panel -->
          </div>
        </div> <!-- Aquí cierra el contenido dentro de los tabs -->
        <!-- Cierra Fase 2 -->
      </section>
      <!-- Abre Fase 3 -->
      <section class="tab-content">
        <div class="columns is-centered">
          <div class="column is-11">
            <!-- Inicia Panel -->
            <nav class="panel">
              <p class="panel-heading">
                Despliegue del juego
                <span class="icon is-small has-text-info is-pulled-right modal-button" data-target="modal-despliegue">
                  <i class="fas fa-question-circle is-info"></i>
                </span>
              </p>
              <div class="panel-block">
                <div class="content column is-full">
                  <div class="box content">
                    <label class="label">Pasos sugeridos:</label>
                    <ol>
                      <li>Se aplica el juego utilizando todos los materiales que se prepararon en la fase anterior.</li>
                      <li>Se verifica que tipo de perfiles hay dentro del grupo de participantes, si los participantes son estudiantes de ciencias de la computación ir al <strong class="has-text-link">paso 3</strong>, si los participantes son
                        fundadores de una startup de software ir al <strong class="has-text-link">paso 4</strong>.</li>
                      <li>Antes de jugar, el instructor da una introducción de 30 minutos acerca de la metodología Lean Startup y sus conceptos principales con un enfoque en la construcción del producto.</li>
                      <li>Antes de jugar, el instructor da una introducción de 30 minutos acerca de la metodología Lean Startup y sus conceptos principales con un enfoque en el lanzamiento del producto.</li>
                      <li>Al terminar, se realizan 4 equipos de 3 integrantes. El instructor explica el <a href="{% url 'flujo-del-juego' %}" target="_blank">flujo del juego</a> y se asegura de resolver todas las dudas que surjan. Posteriormente
                        debe organizar todas las piezas del juego de acuerdo a las reglas, o bien, llegar anticipadamente para tener el juego listo para optimizar el tiempo.</li>
                      <li>Durante la lectura de las cartas de experimentos, el instructor explica el concepto relacionado mostrando un ejemplo de un caso de una startup actual. Por ejemplo, para el concepto de MVP se muestra el primer producto
                        mínimo viable que utilizó Airbnb para comprobar su hipótesis. <a href="{% url 'como-funcionan-las-cartas' %}" target="_blank">Aquí</a> se muestra un ejemplo de la carta de experimento detallada.</li>
                      <li>Durante todo momento, el instructor se asegura de que todos los turnos se realicen en el orden correcto y que cada equipo haga una breve reflexión sobre las decisiones que están tomando.</li>
                      <li>Al terminar de jugar, se realiza la evaluación entregando el cuestionario a cada participante</li>
                      <li>El instructor debe asegurarse de que toda la información es correcta, verificando que se hayan respondido todas las preguntas, que haya únicamente una respuesta para cada pregunta y que haya coherencia en las respuestas.
                      </li>
                    </ol>
                    <hr>
                    <div class="notification is-link">
                      <p>Se recomienda dar prioridad a los experimentos en color amarillo y naranja si el grupo de jugadores son fundadores de una startup de software. Para grupos de estudiantes dar prioridad a los experimentos verdes y amarillos.
                      </p>
                    </div>
                    <div class="notification is-warning">
                      <p><strong>Nota: </strong>Para conocer más acerca del paso 6, consultar la sección del uso de las <a href="{% url 'cartas-de-experimentos' %}" target="_blank">cartas de experimentos.</a></p>

                    </div>
                    <div id="modal-despliegue" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de la fase de ejecución</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">Esta tercera fase tiene como objetivo organizar y definir la ejecución del juego Playing Lean una vez que se ha establecido la fecha, hora y lugar para realizar el taller. Durante esta fase se
                            recogen los datos que van a permitir realizar un análisis sobre la evaluación del juego serio. Las actividades relacionadas se describen en esta sección.
                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>

                    <div id="modal-materiales" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de los materiales</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">
                            Confirmar si el espacio asignado para la realización del taller cuenta con los materiales necesarios como una mesa grande, sillas, proyector, pintaron, etc.
                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>

                    <div id="modal-participantes" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de los jugadores</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">
                            Revisar que el número de participantes en el taller sea mínimo de 12 para contar con 4 equipos de 3 integrantes.
                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                  </div> <!-- Cierra contenido de columnas dentro del panel -->
                </div> <!-- Cierra panel block -->
            </nav>
            <!-- Termina panel -->
          </div>
        </div> <!-- Aquí cierra el contenido dentro de los tabs -->
        <!-- Cierra Fase 3 -->
      </section>
      <!-- Abre Fase 4 -->
      <section class="tab-content">
        <div class="columns is-centered">
          <div class="column is-11">
            <!-- Inicia Panel -->
            <nav class="panel">
              <p class="panel-heading">
                Análisis de los resultados
                <span class="icon is-small has-text-info is-pulled-right modal-button" data-target="modal-analisis">
                  <i class="fas fa-question-circle is-info"></i>
                </span>
              </p>
              <div class="panel-block">
                <div class="content column is-full">
                  <div class="box content">
                    <label class="label">Instrumento de evaluación</label>
                    <p class="has-text-justified">Para realizar un análisis de los resultados en términos de motivación, compromiso y aprendizaje basado en las percepciones de los estudiantes, se ha tomado como base el modelo MEEGA+ <a
                        href="https://link.springer.com/referenceworkentry/10.1007%2F978-3-319-08234-9_214-1" target="_blank">(Petri et al.,
                        2017)</a> que permite realizar las adaptaciones necesarias de acuerdo a la disciplina que se está enseñando y los objetivos de aprendizaje que se esperan alcanzar.</p><br>

                    <label class="label">Los pasos para llevar a cabo el análisis son los siguientes:</label>
                    <ol>
                      <li>Toda la información será analizada en una hoja de cálculo <strong>(proporcionada en la fase de planeación)</strong>, el instructor debe
                        ingresar todas las respuestas de los cuestionarios de
                        estudiante asignando el valor correspondiente de acuerdo a la siguiente definición:
                      </li><br>
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <th>Respuesta</th>
                            <th>Valor en la hoja de cálculo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Totalmente en desacuerdo</td>
                            <td>-2</td>
                          </tr>
                          <tr>
                            <td>En desacuerdo</td>
                            <td>-1</td>
                          </tr>
                          <tr>
                            <td>Ni en acuerdo ni en desacuerdo</td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>De acuerdo</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Totalmente de acuerdo</td>
                            <td>2</td>
                          </tr>
                        </tbody>
                      </table><br>

                      <p>A continuación se presenta un ejemplo sobre el llenado de respuestas en la hoja de cálculo:</p><br>
                      <figure class="image">

                        <img src="{% static 'img/hoja-calculo2.png' %}">

                        <figcaption>Hola de cálculo para en análisis de datos
                          <span class="icon is-small has-text-info modal-button" data-target="modal-hoja">
                            <i class="fas fa-question-circle is-info"></i>
                          </span>
                        </figcaption>

                      </figure>
                      <li>La hoja de cálculo arroja automáticamente estadísticas descriptivas como la frecuencia, el promedio y la mediana de cada respuesta del cuestionario.
                        Por lo tanto, se debe verificar que se hayan generado los datos correctamente.</li>
                      <p>

                        <p>A continuación se presenta un ejemplo sobre la verificación de las estadísticas descriptivas:</p><br>
                        <figure class="image">

                          <img src="{% static 'img/estadisticas.png' %}">

                          <figcaption>Estadísticas descriptivas</figcaption>
                        </figure>
                        <li>Verificar las gráficas de frecuenca, al igual que en el paso anterior, comprobar que las gráficas se hayan generado correctamente.</li>
                        <p>

                          <p>A continuación se presenta un ejemplo sobre la verificación de las gráficas de frecuencia:</p><br>
                          <figure class="image">

                            <img src="{% static 'img/graficas.png' %}">

                            <figcaption>Gráficas de frecuencia</figcaption>
                          </figure>
                          <li>Verificar la información demográfica, al igual que en el paso anterior, comprobar que las gráficas se hayan generado correctamente.</li>
                          <p>

                            <p>A continuación se presenta un ejemplo sobre la verificación de las gráficas:</p><br>
                            <figure class="image">

                              <img src="{% static 'img/demografica.png' %}">

                              <figcaption>Gráficas de información demográfica</figcaption>
                            </figure>
                    </ol>
                    <div class="notification is-warning">
                      <p><strong>Nota: </strong>Para mayor información sobre el uso de la hoja de cálculo consultar el <a href="https://drive.google.com/file/d/1xNyqSUmnQVKuRl6yz3nEoWKI4_5Hiab7/view" target="_blank">documento de instrucciones</a>
                        proporcionado en la fase de planeación.</p>
                    </div>
                    <hr>

                    <div id="modal-analisis" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de la fase de análisis</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">Después de haber recopilado datos en la fase de ejecución, se pueden extraer conclusiones basadas en estos mismos. Por lo tanto, la cuarta fase tiene como objetivo analizar e interpretar los
                            datos recolectados. 
                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>

                    <div id="modal-hoja" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de la hoja de cálculo</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">
                            Cada fila de la hoja de cálculo de análisis de datos representa una respuesta de un estudiante para la evaluación del juego (cuestionario del estudiante).
                            Las columnas representan los elementos del instrumento de medición MEEGA+ y están organizadas en la hoja de cálculo en el mismo orden que se presentan en el cuestionario.
                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                  </div> <!-- Cierra contenido de columnas dentro del panel -->
                </div> <!-- Cierra panel block -->
            </nav>
            <!-- Termina panel -->
          </div>
        </div> <!-- Aquí cierra el contenido dentro de los tabs -->
        <!-- Cierra Fase 4 -->
      </section>
      <!-- Abre Fase 5 -->
      <section class="tab-content">
        <div class="columns is-centered">
          <div class="column is-11">
            <!-- Inicia Panel -->
            <nav class="panel">
              <p class="panel-heading">
                Presentación de los resultados
              </p>
              <div class="panel-block">
                <div class="content column is-full">
                  <div class="box content">
                    <label class="label">Por último, se realiza un reporte describiendo a detalle como se definió, planificó, ejecutó y analizó la evaluación del juego.</label>
                    <div class="notification is-link">
                      <p>Desde el siguiente enlace se puede descargar el documento que se recomienda para la elaboración del reporte:</p>
                      <ul>
                        <a href="https://drive.google.com/file/d/1aUy5xYejCk0quHOmEsMWubh_fs7i0BAs/view" target="_blank">
                          <li>Reporte de evaluación</li>
                        </a>
                      </ul>
                    </div>
                    <div class="notification is-warning">
                      <p><strong>Nota: </strong>El reporte de evaluación proporciona cada una de las secciones que se recomienda incluir, la información puede ser presentada dentro del mismo documento, o si lo prefiere, elegir otra forma de
                        presentación
                        siempre y cuando se siga el formato que sugiere el reporte.</p>
                    </div>
                    <hr>

                    <div id="modal-resultados" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Acerca de la fase de resultados</p>
                        </header>
                        <section class="modal-card-body">
                          <p class="has-text-justified">

                          </p>
                        </section>
                        <footer class="modal-card-foot">
                        </footer>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>

                  </div> <!-- Cierra contenido de columnas dentro del panel -->
                </div> <!-- Cierra panel block -->
            </nav>
            <!-- Termina panel -->
          </div>
        </div> <!-- Aquí cierra el contenido dentro de los tabs -->
        <!-- Cierra Fase 5 -->
      </section>

    </div>
  </div>
</section>

{% endblock content %}
