{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Sección de 4 columnas -->
<title>Guía - Lean Startup</title>
<section class="hero is-medium has-shadow">
  <div class="hero-body">
    <div class="container">
      <div class="columns">




        {% if user.is_authenticated %}

        <div class="column is-12">

          <h1 class="title is-1 has-text-weight-bold">
            Guía para enseñar la metodología Lean Startup
          </h1>
          <h2 class="subtitle has-text-justified">
            Esta propuesta permite facilitar la enseñanza de Lean Startup a través de un juego serio.
            Regístrese para acceder a los recursos, organizar y gestionar talleres.
          </h2>
          <a href="{% url 'ruta' %}" class="button is-light">
            <strong>Empezar</strong>
          </a>
        </div>

        {% else %}

        <div class="column is-7">

          <h1 class="title is-1">
            Guía para enseñar la metodología Lean Startup
          </h1>
          <h2 class="subtitle has-text-justified">
            Esta propuesta permite facilitar la enseñanza de Lean Startup a través de un juego serio. Regístrese para acceder a los recursos, organizar y gestionar talleres.
          </h2>
        </div>

        {% endif %}

        {% if user.is_authenticated %}

        <div class="column is-5">

        </div>
        {% else %}
        <div class="column is-5">
            <h1 class="title is-2">
              Registrarse
            </h1>
            <form method="post" action="{% url 'registrar' %}">
              {% csrf_token %}
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-medium" type="email" name="username" placeholder="Correo electrónico" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-medium" type="password" name="password1" placeholder="Contraseña" id="id_password1" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <button type="submit" class="button is-success is-medium is-fullwidth">Crear cuenta</button>
            </form>
        </div>

       {% endif %}






      </div>
    </div>
  </div>
</section><br><br><br><br><br>
<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column is-3 is-shady">
          <div class="box">
            <span class="icon is-large">
              <i class="fas fa-3x fa-book"></i>
            </span>
              <h1 class="title is-5 has-text-black-bis">
                La Guía
              </h1>
            <p class="subtitle is-6 has-text-justified has-text-black-bis">
              Proporciona un proceso sistemático para la enseñanza de la metodología Lean Startup a estudiantes de ciencias de la computación a través de un juego serio.
            </p>
          </div>
        </div>

        <div class="column is-3 is-shady">
          <div class="box">
            <span class="icon is-large">
              <i class="fas fa-3x fa-directions"></i>
            </span>
              <h1 class="title is-5 has-text-black-bis">
                La Ruta
              </h1>
            <p class="subtitle is-6 has-text-justified has-text-black-bis">
              La ruta permite impartir los talleres siguiendo un procedimiento dividido en 5 fases interconectadas: alcance, planeación, ejecución, análisis, y resultados.
            </p>
          </div>
        </div>

        <div class="column is-3 is-shady">
          <div class="box">
            <span class="icon is-large">
              <i class="fas fa-3x fa-toolbox"></i>
            </span>
              <h1 class="title is-5 has-text-black-bis">
                Buenas prácticas
              </h1>
            <p class="subtitle is-6 has-text-justified has-text-black-bis">
              Promueve un conjunto de buenas prácticas divididas en 4 categorías principales: enseñanza, proyectos reales, multidisciplinar y entorno.<br><br>
            </p>
          </div>
        </div>
        <div class="column is-3 is-shady">
          <div class="box">
            <span class="icon is-large">
              <i class="fas fa-3x fa-lightbulb"></i>
            </span>
              <h1 class="title is-5 has-text-black">
                Cartas de experimentos
              </h1>
            <p class="subtitle is-6 has-text-justified has-text-black">
              Las cartas de experimentos permiten hacer una conexión más profunda entre los conceptos y experiencias basadas en el caso de éxito de una startup real.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Termina sección de 4 columnas -->


<!-- Consejos -->
<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-info">Recomendaciones</span> Incluye una serie de sugerencias a los problemas detectados en el estado de la práctica acerca de la enseñanza de Lean Startup.
  </p>
</div>
<!-- Fin -->

<section class="hero is-medium has-background-white-ter">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column is-10 is-offset-1 columns has-background-white">
        <div class="column is-5 is-offset-1">
          <div class="title is-4">
            <h2 class="has-text-black has-text-weight-bold has-text-centered">¿Qué es Lean Startup?</h2>
          </div>
          <p class="has-text-justified">Lean Startup es una metodología enfocada en iniciar un negocio. La premisa principal de esta metodología es proporcionar un enfoque científico para ayudar a las startups a introducir el producto deseado a los
            clientes más rápidamente <a href="https://www.academia.edu/6418358/The_Lean_Startup_How_Today_s_Entrepreneurs_Use_Continuous_Innovation_to_Create_Radically_Successful_Businesses" target="_blank">(Ries, 2011)</a>.</p>
        </div>
        <div class="column is-5 is-offset-1">
          <div class="title is-4">
            <h2 class="has-text-black has-text-weight-bold has-text-centered">¿Qué es un juego serio?</h2>
          </div>
          <p class="has-text-justified">Los juegos serios son diseñados con el objetivo principal de educar, en lugar de entretener. Los jugadores cultivan sus conocimientos y practican sus
            habilidades superando numerosos obstáculos durante el juego <a href="https://www.researchgate.net/publication/330843925_A_Meta-Analysis_of_Use_of_Serious_Games_in_Education_over_a_Decade" target="_blank">(Zhonggen,2019)</a>.</p>
        </div>

      </div>
    </div>
  </div>
</section>


{% endblock content %}
