{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Juego serio</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'juego-serio' %}">Juego</a></li>
              <li class="is-active"><a href="#" aria-current="page">Definición de juego serio</a></li>
            </ul>
          </nav>
        </div>

        <h1 class="title is-3">
          ¿Qué es un juego serio?
        </h1>
        <hr>

        <p class="has-text-justified">
          Los juegos serios son diseñados con el objetivo principal de educar, en lugar de entretener.
          Los jugadores cultivan sus conocimientos y practican sus habilidades superando numerosos obstáculos durante el juego. Aunque el entretenimiento no es el objetivo principal, no quiere decir que no pueda ser entretenido o divertido.
          Solamente significa que el propósito principal de los juegos serios va más allá del entretenimiento.
          La diversión y alegría se consideran motivadores importantes para que los jugadores regresen a jugar.
        </p><br>
        <p class="hast-text-justified content is-small">
          Yu Zhonggen. <a href="https://www.researchgate.net/publication/330843925_A_Meta-Analysis_of_Use_of_Serious_Games_in_Education_over_a_Decade" target="_blank">"A Meta-Analysis of Use of Serious Games in Education over a Decade"</a>.
          International Journal of Computer Games Technology 2019, 1–8 Hindawi Limited, 2019.
        </p>
        <hr>











      </div>
    </div>
  </div>
</section>

{% endblock content %}
