{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Cartas de experimentos</title>
<section class="hero is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Acerca del juego
      </h1>
    </div>
  </div>
</section>


<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <nav class="panel">
          <p class="panel-heading">
            <strong>Juego serio</strong>
          </p>
          <a href="{% url 'que-es-un-juego-serio' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            ¿Qué es un juego serio?
          </a>
          <a href="{% url 'lean-startup' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            ¿Qué es Lean Startup?
          </a>
          <a href="{% url 'playing-lean' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            ¿Qué es Playing Lean 2?
          </a>
          <a href="{% url 'flujo-del-juego' %}" class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            Flujo del juego
          </a>
        </nav>
        <hr>
      </div>
    </div>
  </div>
</section>



{% endblock content %}
