{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Juego serio</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'juego-serio' %}">Juego</a></li>
              <li class="is-active"><a href="#" aria-current="page">Lean Startup</a></li>
            </ul>
          </nav>
        </div>

        <h1 class="title is-3">
          ¿Qué es Lean Startup?
        </h1>
        <hr>

        <p class="has-text-justified">
          Lean Startup es una metodología enfocada en iniciar un negocio.
          La premisa principal de esta metodología es proporcionar un enfoque científico para ayudar a las startups a introducir el producto deseado a los clientes más rápidamente.
          Las startups deben realizar un conjunto de experimentos para probar las hipótesis que tienen acerca de una idea de negocio determinada. Para ello, construyen productos mínimos viables(MVPs).
        </p><br>
        <p class="hast-text-justified content is-small">
          E. Ries. 2011. <a href="https://www.academia.edu/6418358/The_Lean_Startup_How_Today_s_Entrepreneurs_Use_Continuous_Innovation_to_Create_Radically_Successful_Businesses" target="_blank">"The Lean Startup: How Today’s Entrepreneurs Use Continuous
          Innovation to Create Radically Successful Businesses"</a>. Crown Business.
        </p>
        <p class="hast-text-justified content is-small">
          S.-C. Li. 2007. <a href="https://ieeexplore.ieee.org/document/4349435" target="_blank">"The Role of Value Proposition and Value Co-Production in New Internet Startups: How New Venture e-Businesses Achieve Competitive Advantage</a>.
          In Portland Int. Center for Management of Engineering and Technology (PICMET).
          1126–1132.
        </p>
        <hr>










      </div>
    </div>
  </div>
</section>

{% endblock content %}
