{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Juego serio</title>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-two-thirds">

        <div class="box has-background-light">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'juego-serio' %}">Juego</a></li>
              <li class="is-active"><a href="#" aria-current="page">Playing Lean 2</a></li>
            </ul>
          </nav>
        </div>

        <h1 class="title is-3">
          ¿Qué es Playing Lean 2?
        </h1>
        <hr>

        <p class="has-text-justified">
          Playing Lean es un juego serio de mesa que genera entusiasmo, motivación y lecciones aprendidas sobre el tema de la innovación moderna y el desarrollo de productos.
        </p><br>
        <p class="has-text-justified">
          Playing Lean tiene como objetivo enseñar la metodología Lean Startup, los elementos del juego en sí mismo están interrelacionados con la metodología. Cómo propósito de diseño, el juego cubre once conceptos clave de Lean Startup que se transmiten a través de la experiencia de juego.
          Estos mismos conceptos pueden ser utilizados para medir el resultado de aprendizaje.
        </p><br>
        <p class="hast-text-justified content is-small">
          Tore Rasmussen. 2016. <a href="https://nmbu.brage.unit.no/nmbu-xmlui/handle/11250/2384042" target="_blank">"Playing Lean : gamification of the Lean Startup methodology"</a>.

        </p>
        <hr>










      </div>
    </div>
  </div>
</section>

{% endblock content %}
