{% extends 'base.html' %}
{% block content %}
<title>Recomendaciones</title>
<section class="hero is-light has-text-centered has-shadow">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Recomendaciones
      </h1>
    </div>
  </div>
</section>
<section class="hero has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <h1 class="title is-4">
        Resultados del estado de la práctica
        </h1>
        <hr>
        <p class="has-text-justified">
          Además del análisis de datos, la exploración del estado de la practica permitió identificar diferentes brechas acerca de la ejecución del juego y la impartición de talleres de manera que la resolución de los mismos puede contribuir a
          mejorar el resultado de aprendizaje.
        </p><br>
        <table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
          <thead>
            <tr>
              <th>Categoría</th>
              <th>Problema</th>
              <th>Recomendación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Juego</td>
              <td>
                Los jugadores solo se enfocan en ganar y saber cuantas fichas de cliente van a voltear y tienden a olvidarse de que el objetivo es aprender,
                no solamente ganar.
              </td>
              <td>
                <p><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a> con ejemplos basados en una startup real.</p>
              </td>

            </tr>
            <tr>
              <td>Taller</td>
              <td>
                La atención de los jugadores se puede ver comprometida al utilizar sus smartphones durante la ejecución del taller.
              </td>
              <td>
                Restringir el uso de los teléfonos durante el taller a menos que sea de carácter urgente. El facilitador puede utilizar un recipiente para que cada participante coloque su dispositivo y al final del taller tomar su teléfono de vuelta.
              </td>

            </tr>
            <tr>
              <td>Juego</td>
              <td>
                Conceptos como Escalabilidad y Contabilidad de la Innovación no logran ser trasmitidos correctamente durante el juego
              </td>
              <td>
                <p><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a> con ejemplos basados en una startup real.</p>
              </td>

            </tr>
            <tr>
              <td>Juego</td>
              <td>
                Los jugadores se enfocan en venderle al cliente de color rojo en lugar de aprender los conceptos.
              </td>
              <td>
                Hacer énfasis en que el objetivo del juego es aprender, gana el que aprenda más rápido. Vender al color rojo es una dinámica del juego, pero no el objetivo principal.
              </td>

            </tr>
            <tr>
              <td>Juego</td>
              <td>
                Los estudiantes tienden a sobre simplificar los conceptos de Lean Startup.
              </td>
              <td>
                <p><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a> con ejemplos basados en una startup real.</p>
              </td>
            </tr>
            <tr>
              <td>Taller</td>
              <td>
                Lograr que los estudiantes experimenten situaciones que suceden con demandas de clientes reales es un desafío al enseñar ingeniería de software y emprendimiento.
              </td>
              <td>
                <p><a href="{% url 'cartas-de-experimentos' %}">Cartas de experimentos</a> con ejemplos basados en una startup real.</p>
              </td>

            </tr>
            <tr>
              <td>Taller</td>
              <td>
                No existe un proceso sistemático para guiar a los instructores o maestros en la impartición de los talleres.
              </td>
              <td>
                <p><a href="{% url 'ruta' %}">Ruta</a> para impartir taller de Lean Startup utilizando Playing Lean.</p>
              </td>
            </tr>
          </tbody>
        </table><br>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
