{% extends 'base.html' %}
<!-- templates/registration/signup.html -->

{% block title %}Actualizar{% endblock %}

{% block content %}




<section class="hero is-medium has-text-left has-shadow">
  <div class="hero-body">
    <div class="columns is-centered">


      <div class="column is-three-quarters">
        <nav class="panel">
          <p class="panel-heading">Actualizar alcance</p>
          <div class="panel-block">
            <div class="content column is-full">
              {% for item in alcance %}


              <form action="{% url 'actualizar-alcance' item.id %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <label class="label">Paso 1: Añadir objetivo <span class="icon is-small has-text-info modal-button is-pulled-right" data-target="modal-goals">
                      <i class="fas fa-question-circle is-info"></i>
                    </span></label>
                  <div class="control">
                    <input class="input" value="{{ item.goal }}" name="goal" placeholder="Establecer objetivo de aprendizaje..." required></input>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Paso 2: Definir el contexto
                    <span class="icon is-small has-text-info modal-button is-pulled-right" data-target="modal-context">
                      <i class="fas fa-question-circle is-info"></i>
                    </span>

                  </label>
                  <div class="control">
                    <div class="select">
                      <select name="contexto" required>
                        <option value="{{ item.contexto }}">{{ item.contexto }}</option>
                        <option value="Estudiantes de Ingeniería de Software">Estudiantes de Ingeniería de Software</option>
                        <option value="Emprendedores de Startups de Software">Emprendedores de Startups de Software</option>
                        <option value="Practicantes de Lean Startup">Practicantes de Lean Startup</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Paso 3: Obtener juego Playing Lean
                    <span class="icon is-small has-text-info modal-button is-pulled-right" data-target="modal-game">
                      <i class="fas fa-question-circle is-info"></i>
                    </span>
                  </label>
                  <p>¿Ya se cuenta con el juego de mesa?</p>
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="juego" value="Sí" required>
                      Sí
                    </label>
                    <label class="radio">
                      <input type="radio" name="juego" value="No" required>
                      No
                    </label>
                  </div>
                </div>

                <button type="submit" class="button is-success is-pulled-right">Actualizar</button>
              </form>
            </div>
            {% endfor %}
          </div>
        </nav>
      </div>




    </div>
  </div>



  <!-- Modals -->

  <div id="modal-goals" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acerca de los objetivos</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">Como punto de partida, se requiere establecer con claridad cual es el objetivo de aprendizaje que se pretende alcanzar. Este puede ir desde mejorar el resultado de aprendizaje en caso de que
          ya se
          haya realizado un taller anterior, reforzar la comprensión de los conceptos clave de Lean Startup, hasta mejorar la experiencia de aprendizaje, es decir, lograr que la experiencia sea inmersiva o motivadora. </p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>


  <div id="modal-context" class="modal modal-fx-fadeInScale">
    <div class="modal-background"></div>
    <div class="modal-content modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acerca del contexto</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">Identificar el perfil al que está enfocado el taller, para estudiantes de ciencias de la computación, emprendedores de startup de software, o practicantes y/o instructores de Lean Startup.</p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>


  <div id="modal-game" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Obtener juego serio Playing Lean</p>
      </header>
      <section class="modal-card-body">
        <p class="has-text-justified">Playing lean es el juego serio de mesa que se utiliza para enseñar Lean Startup. Los elementos del juego están interrelacionados con la metodología, la forma en que
          esta diseñado permite que se genere un ambiente de entusiasmo, motivación y lecciones de aprendizaje. El juego se puede ordenar directamente desde el sitio web
          de los creadores, <a href="https://playinglean.com" target="_blank">Playing Lean</a>.
        </p>
      </section>
      <footer class="modal-card-foot">
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>



  <!-- Modals -->




</section>
{% endblock %}
